*{
	font-family: 'Roboto', sans-serif;
}

body{

	background-color: #f4f4f4 !important;
}

.center{
	max-width: 1280px;
	margin: 0 auto;
}


.information-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.chart-report-wrap{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.title-top{
	margin-top: 34px;
	font-size: 34px;
	font-weight: 400;
	color: #6c6c6c;
}